---
import Navigation from "./Navigation.astro";
import Hamburguer from "./Hamburguer.astro";
---

<header>
    <nav class="nav-links">
        <Hamburguer/>
        <Navigation/>
    </nav>
</header> 